table, th, td{
    border: 1px solid;
}
th, td{
    padding: 5px;
}
.first{
    background-color: yellow;
}



div{
    animation-name: mySlide;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-play-state: paused;
}

@keyframes mySlide{
    from{margin-left: 0%;}
    to{margin-left: 100%;}
}